<section id="months" class="months-section">

    <div class="container-fluid">
      <div class="col-md-4">

        <dl class="list month-select text-center">
          <dd><a href="#">January</a></dd>
          <dd><a href="#">February</a></dd>
          <dd><a href="#">March</a></dd>
          <dd><a href="#">April</a></dd>
          <dd><a href="#">May</a></dd>
          <dd><a href="#">June</a></dd>
          <dd><a href="#">July</a></dd>
          <dd><a href="#">August</a></dd>
          <dd><a href="#">September</a></dd>
          <dd><a href="#">October</a></dd>
          <dd><a href="#">November</a></dd>
          <dd><a href="#">December</a></dd>
        </dl>

      </div>
    </div>

</section>
