<section id="months" class="months-section">

    <div class="container-fluid">
      <div class="col-md-4">

        <dl class="list month-select text-center">
          <dd ng-repeat="month in monthsCtrl.allMonths">

            <a ng-click="monthsCtrl.getMonth(month.id)"
               ng-class="{'month-if': month.monthHasEvents === false}">
               {{ month.month }}
            </a>

          </dd>
        </dl>

      </div>

      <div class="col-md-8 days-view">
        <ul class="col-md-12">

          <h2 class="text-center">{{ monthsCtrl.currentMonth }}</h2>

          <a ng-repeat="day in monthsCtrl.currentDaysMonth track by $index"
             ng-click="monthsCtrl.getEvent($index + 1)">

            <li class="col-md-4"
              ng-class="{'day-if': !day}">
              {{ $index + 1 }}
            </li>

          </a>

        </ul>

      </div>

      <div id="overlayData" class="overlay">
        <a href="javascript:void(0)" class="closebtn" ng-click="monthsCtrl.closeNav()">&times;</a>
        <div class="overlay-content">
          <div class="col-sm-12" ng-repeat="event in monthsCtrl.singleDayEvents | orderBy: 'time'">
            <h2 class="col-sm-12 text-center">{{ event.title }}</h2>
            <h4 class="col-sm-12 text-center">{{ event.cosmic_year }} {{ event.year_abrv }}, {{ event.time }}</h4>
            <p class="text-center">{{ event.description }}</p>
            <a class="text-center" style="font-size: 18px" target="_blank" href="{{ event.source_url }}">More Information</a>
            <hr>
          </div>
        </div>
      </div>

    </div>

</section>
