<section id="months" class="months-section">

    <div class="container-fluid">
      <div class="col-md-4">

        <dl class="list month-select text-center">
          <dd ng-repeat="month in monthsCtrl.allMonths"><a href="" ng-click="monthsCtrl.getMonth(month.id)">{{ month.month }}</a></dd>
        </dl>

      </div>

      <div class="col-md-8 days-view">
        <ul class="col-md-12">

          <h2 class="text-center">{{ monthsCtrl.currentMonth }}</h2>
          <a ng-repeat="day in monthsCtrl.currentDaysMonth track by $index" ng-click="monthsCtrl.getEvent($index + 1)">
            <li class="col-md-4 days">{{ $index + 1 }}</li>
          </a>

        </ul>
      </div>
    </div>

</section>
