<section id="about" class="container-fluid">
  <div class="accordion">
    <ul>
      <li>
        <div>
          <a href="">
          <h2>Carl Sagan</h2>
          <p>An American astronomer, cosmologist, astrophysicist, astrobiologist, author, science popularizer, and science communicator in astronomy and other natural sciences. He is best known for his work as a science popularizer and communicator. His best known scientific contribution is research on extraterrestrial life, including experimental demonstration of the production of amino acids from basic chemicals by radiation. Sagan assembled the first physical messages sent into space: the Pioneer plaque and the Voyager Golden Record, universal messages that could potentially be understood by any extraterrestrial intelligence that might find them. Sagan argued the now accepted hypothesis that the high surface temperatures of Venus can be attributed to and calculated using the greenhouse effect.</p>
          </a>
        </div>
      </li>
      <li>
        <div>
          <a href="">
            <h2>About The Cosmic Calendar</h2>
            <p>The Cosmic Calendar is a method to visualize the chronology of the universe, scaling its current age of 13.8 billion years to a single year in order to help intuition in for pedagogical purposes in science education or popular science.</p>
            <br>
            <p>In this visualization, the Big Bang took place at the beginning of January 1 at midnight, and the current moment maps onto the end of December 31 at midnight.[1] At this scale, there are 437.5 years per second, 1.575 million years per hour, and 37.8 million years per day.</p>
            <br>
            <p>The concept was popularized by Carl Sagan in his book The Dragons of Eden (1977) and on his television series Cosmos.[2] Sagan goes on to extend the comparison in terms of surface area, explaining that if the Cosmic Calendar is scaled to the size of a football field, then "all of human history would occupy an area the size of [his] hand".</p>
          </a>
        </div>
      </li>
      <li>
        <div>
          <a href="">
          <h2>Neil deGrasse Tyson</h2>
          <p>An American astrophysicist, cosmologist, author, and science communicator. Since 1996, he has been the Frederick P. Rose Director of the Hayden Planetarium at the Rose Center for Earth and Space in New York City. The center is part of the American Museum of Natural History, where Tyson founded the Department of Astrophysics in 1997 and has been a research associate in the department since 2003.</p>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
