.months-section {
  height: 100vh;
  width: 100%;
  padding: 100px 0 0;
  color: white;
  background: url(../images/nebula-1.jpg) no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

@media (min-width: 767px) {

  .months-section {
    margin-bottom: 100px;
    padding: 150px 0 0;
  }

}

/* Month Selection Styling */

.list {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  text-transform: uppercase;
}

.list a {
  display: block;
  color: #fff;
}

.list a:hover {
  text-indent: 20px;
}

.list dd {
  border-top: 1px dotted rgba(255,255,255,0.3);
  line-height: 50px;
  font-size: 15px;
  height: 50px;
  width: 350px;
  margin: 0;
}

.month-select dd, .month-select a { background: rgba(0, 0, 0, 0.3); }
.month-select a:hover { background: rgba(0, 0, 0, 0.7); }

.month-select {
  -webkit-transform: perspective(2160px) rotateY(40deg) !important;
  -moz-transform: perspective(2160px) rotateY(40deg) !important;
  -ms-transform: perspective(2160px) rotateY(40deg) !important;
  -o-transform: perspective(2160px) rotateY(40deg) !important;
  transform: perspective(2160px) rotateY(40deg) !important;

  -webkit-transform-origin: 110% 25%;
  -moz-transform-origin: 110% 25%;
  -ms-transform-origin: 110% 25%;
  -o-transform-origin: 110% 25%;
  transform-origin: 110% 25%;
}
