<!-- Landing -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">The Cosmic Calendar</h1>
                    <p class="intro-text">"We humans appear on the cosmic calendar so recently that our recorded history occupies only the last few seconds of the last hour on December 31" <br> - Carl Sagan</p>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
